In [19]:
import numpy as np
import pandas as pd

In [20]:
#Temperature readings for 7 cities across 12 months
cities = ["Kampala", "Nairobi", "Tokyo", "Algiers", "Cairo", "Peru", "Lagos"]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
temperature_data = np.array([
        [40.5, 30.5, 27.5, 45.0, 0.0, 20.6, 69.0, 58.9, 20.5, 78.5, 21.3, 40.5],
        [0.0, 50.5, 45.5, 48.5, 49.0, 42.8, 50.5, 45.6, 48.9, 45.0, 60.0, 0.0],
        [20.5, 45.8, 60.6, 54.5, 0.0, 45.8, 90.7, 85.9, 60.5, 43.3, 14.8, 90.5],
        [40.5, 50.5, 60.5, 70.0, 75.5, 55.0, 65.5, 45.0, 80.0, 30.0, 25.5, 35.0],
        [20.0, 15.5, 25.0, 30.5, 35.0, 25.5, 40.5, 45.0, 55.0, 50.5, 60.5, 65.0],
        [21.0, 32.5, 43.0, 54.5, 65.0, 65.5, 76.0, 76.6, 87.0, 98.5, 0.0,89.0],
        [12.0, 23.5, 45.0, 56.5, 67.0, 78.5, 89.0, 90.5, 0.0, 79.5, 30.6, 10.2]
    ])

    
df = pd.DataFrame(temperature_data, index = cities, columns = months)   
print("temperature readings (°C) for 7 cities over 12 months:")
print(df)

temperature readings (°C) for 7 cities over 12 months:
          Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov  \
Kampala  40.5  30.5  27.5  45.0   0.0  20.6  69.0  58.9  20.5  78.5  21.3
Nairobi   0.0  50.5  45.5  48.5  49.0  42.8  50.5  45.6  48.9  45.0  60.0
Tokyo    20.5  45.8  60.6  54.5   0.0  45.8  90.7  85.9  60.5  43.3  14.8
Algiers  40.5  50.5  60.5  70.0  75.5  55.0  65.5  45.0  80.0  30.0  25.5
Cairo    20.0  15.5  25.0  30.5  35.0  25.5  40.5  45.0  55.0  50.5  60.5
Peru     21.0  32.5  43.0  54.5  65.0  65.5  76.0  76.6  87.0  98.5   0.0
Lagos    12.0  23.5  45.0  56.5  67.0  78.5  89.0  90.5   0.0  79.5  30.6

          Dec
Kampala  40.5
Nairobi   0.0
Tokyo    90.5
Algiers  35.0
Cairo    65.0
Peru     89.0
Lagos    10.2

In [29]:
#Finding the mean, meadian and standard deviation for each city
df = pd.DataFrame(temperature_data, index = cities, columns = months)
mean_values = df.mean(axis = 1)
median_values = df.median(axis = 1)
std_values = df.std(axis = 1)

summary_stats = pd.DataFrame({
    'mean(°C)': mean_values,
    'median(°C)': median_values,
    'standard deviation(°C)': std_values
})
print("\ntemperature statistics for  each city:")
print(summary_stats.round(2))

temperature statistics for  each city:
         mean(°C)  median(°C)  standard deviation(°C)
Kampala     37.73       35.50                   22.56
Nairobi     40.52       47.05                   19.41
Tokyo       51.08       50.15                   29.39
Algiers     52.75       52.75                   18.03
Cairo       39.00       37.75                   16.36
Peru        59.05       65.25                   29.89
Lagos       48.53       50.75                   32.73

In [33]:
#Finding the hottest and coldest months overall
monthly_avg = df.mean(axis = 0)
hottest_month = monthly_avg.idxmax()
coldest_month = monthly_avg.idxmin()
hottest_temp = monthly_avg.max()
coldest_temp = monthly_avg.min()

print(f"\nhottest month: {hottest_month}")
print(f"\ncoldest month: {coldest_month}")

hottest month: Jul

coldest month: Jan

In [34]:
#Below are the displayed results in a neatly formatted table
summary_table = pd.DataFrame({
    'Month': months,
    'Average Temp(°C)': monthly_avg.round(2)
})
summary_table['Note'] = ''
summary_table.loc[summary_table['Month'] == hottest_month, 'Note'] = 'hottest'
summary_table.loc[summary_table['Month'] == coldest_month, 'Note'] = 'coldest'

print("\nMonthly average temperatures across all cities:")
print(summary_table.to_string(index = False))

Monthly average temperatures across all cities:
Month  Average Temp(°C)    Note
  Jan             22.07 coldest
  Feb             35.54
  Mar             43.87
  Apr             51.36
  May             41.64
  Jun             47.67
  Jul             68.74 hottest
  Aug             63.93
  Sep             50.27
  Oct             60.76
  Nov             30.39
  Dec             47.17